<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>$title</title>
    
  </head>
  <body>
    <div id="content">
      
      <form id="grant_form" method="post" action="$action">
        <fieldset class="grant_field">
          <legend>Resource grant?</legend>
          <div>$message</div>
          <input type="submit" name="allow" value="Allow"/>
          <input type="submit" name="deny" value="Deny"/>
          <input type="hidden" name="user_id" value="$user_id"/>
          <input type="hidden" name="client_id" value="$client_id"/>
          <input type="hidden" name="redirect_uri"
          value="$redirect_uri"/>
          #if $scope
          <input type="hidden" name="scope" value="$scope"/>
          #end if
          #if $state
          <input type="hidden" name="state" value="$state"/>
          #end if
        </fieldset>
      </form>
    </div>
  </body>
</html>
  
