<!DOCTYPE html>

<html lang="en">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>$page_title</title>
        #block header
        
        #end block header
    </head>
    <body>
    #block body
    
    #end block body
    </body>
</html>
